body {
    font-family: "Times New Roman";
    font-size: 14px;
    margin-left: 8%;
    margin-right: 8%;
}

h2 {
    text-align: center;
}

.registration {
    color: red;
    text-decoration: underline;
}

input {
    border: 1px solid #aaa;
}

select {
    border: 1px solid #aaa;
}

textarea {
    border: 1px solid #aaa;
}

hr {
    margin-top: 15px;
    margin-bottom: 10px;
}